*.mov
*.gslides
*.pdf
5 - Harmonic Oscillator  I/.ipynb_checkpoints
*.gif
5 - Harmonic Oscillator  I/Icon

materiali
*.gdoc
*.gsheet
5 - Harmonic Oscillator  I/python/.ipynb_checkpoints
*.wav
10 - Waveguides/extra
Final Assignment
12 - Modal Synthesis I/extra
14 - Interactions, Collisions, Frictions/NESS_Project
14 - Interactions, Collisions, Frictions/extra
13 - Modal Synthesis II - Membranes/extra
